button{
  font-weight: bold !important;
  font-size:19px;
  margin-bottom: 10px;
  font-family: "Trebuchet MS";
  background: rgba(255, 255, 255, 0.308);
  border:solid 4px rgba(0, 0, 0, 1);
  border-radius: 10px;
  color:rgba(0, 0, 0, 1) ;
  transition: all 0.2s ease;

  &.active{
    background: #000;
    color:rgba(230, 230, 230, 1);
  }

  &:hover {
    background: #000;
    color:rgba(230, 230, 230, 1);
    box-shadow: -5px 0px 5px -4px #000, 5px 0px 5px -4px #000,0px -5px 5px -4px#000, 0px 5px 5px -4px #000 ;
  }
}

#modif{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  h2{
    color:#fff;
  }
}

#save-and-clear{
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

