:host {
  display: flex;
  background-size: contain;
  width: 600px;
  background-image : url('https://firebasestorage.googleapis.com/v0/b/volley-position.appspot.com/o/terrain-volley-shema%20-%20Copie.png?alt=media&token=ca398c47-02d0-4892-9cd4-04bc1001011a');
  border: 6px ridge rgb(60,60 ,60);
  margin: 5px;
}
